*{
  padding: 0;
  margin: 0;
  // text-shadow: 0 0.5px 0 black;
  box-sizing: border-box;

  font-size: 16px;
}

html{
  font-size: 1.2rem;
}

body {
  // min-height: 100vh;
  // background-position: center;
  // background-attachment: fixed;
  // background-size: cover;
  font-family: 'roboto', sans-serif;
  letter-spacing: 0.020rem;
  color: #2a2a2a;
} 

//////////////////////////////////////////////////

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.fontBolder{
  font-weight: 600;
} 

//////////////////////////////////////////////////


// header{
//   width: 100%;
// }
.navBar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
  background-color: rgba(255, 255, 255, 0);
  // position: sticky;
  border-bottom: 0.01rem solid hsl(0, 0%, 83%);
  position: fixed;
  top: -100px;
  width: 100%;
  // animation: slideDown 0.7s ease-in-out forwards;
  z-index: 1;

  @keyframes slideDown {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }

  .flexNavCon{
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    padding: 5px;

    .logoNav{
      margin-left: 3.5rem;
    }
    
    .ulFlex{
      display: flex;
      align-items: center;
      flex-direction: row;
      font-size: 0.8rem; 
      padding-left: 40px;
      
      li{
        padding: 0 20px;
      }
      
      a{
        color: #2a2a2a;
    
        &:hover{
          color: rgb(75, 142, 241);
        }
      }

      .signInBtn{
        margin: 0 0 0 15px;
        background: rgb(60,73,159);
        background: linear-gradient(90deg, rgba(60,73,159,1) 0%, rgba(43,218,2521) 100%);
        border-radius: 25px;
        padding: 10px 15px; 
        display: flex;
        justify-content: center;
        align-items: center;

        .btnNavImg{
          width: 1.3rem;
          height: 1rem;
          padding-right: 5px;
        }

        #pOfSignInBtn{
            color: rgb(245, 251, 255);
        }
      }
    }
  }
}


/////////////////////////////////////////////////


.spacer{
  margin-top: 4.6875rem;
}


///////////////////////////////////////////////// 


main{


  a{
    text-decoration: none;
    color: hsl(0, 0%, 100%); 
  }
  i{
    padding-left: 3px;
    color: hsl(0, 0%, 100%);
  }

  .flexerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    // This Is The Right Side
    .descriptionSide{
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      position: relative;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideInFromLeft 1.1s ease-in-out 1s forwards;

      @keyframes slideInFromLeft {
        from {
          opacity: 0;
          transform: translateX(-100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .descriptionWords{
 
        h2{
          // z-index: 2;
          position: relative;
          font-weight: 700;
          line-height: 70px;
          font-size: 2.5rem;
          margin-bottom: 20px;
         
          color: hsl(214, 9%, 15%);
        }

        p{
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 45px;
          color: #2A2A2A;
        }

      }

      .btns{
        display: flex;
        flex-direction: row;


        .anchorMainPattern{
          background-color: hsl(220 77 64);
          padding: 11px 20px;
          border-radius: 15px;
          font-size: 0.8rem;
          border-radius: 20px;
          font-weight: 600;
          letter-spacing: 0.2px;
          margin-right: 15px;
        }
      }

      
    }

  }

  .phoneImg{
    min-width: 45%;
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInFromRight 1.1s ease-in-out 0.5s forwards;
  

    img{
      max-width: 610px;
    }

    @keyframes slideInFromRight {
      from {
        opacity: 0;
        transform: translateX(100%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .main-banner{
    padding: 150px 160px;

    .contMainBanner{
      margin: 0 100px;
    } 

    &::after{
      content: '';
      background-image: url(../img/slider-left-dec.png) ;
      background-repeat: no-repeat;
      background-size: 53%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 122vh;
      // padding-right: 500px;
      z-index: -1;
      opacity: 0;
      animation: fadeIn 1.5s 0.6s forwards;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}


///////////////////////////////////////////////// 


section{
  .contentServices{
    // width: 100%;
    margin: 5rem;
    margin-top: 8.3rem;
    // display: flex;
    
    .servicesHeader{
      text-align: center;
      margin: 10px 500px;
      height: 12vw;
      max-width: 850px;

      .titleServices{
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: 10px;

          em{
            font-style: normal;
            color: #4b8ef1;
            font-size: 28.8px;
          }
      }

      p{
        font-size: 15px;
        line-height: 30px;
        font-weight: 300;
        color: #AFAFAF;
        margin-top: 10px;
        margin-left: 7%;
        margin-right: 7%;
      }
    }

    .row{
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      // margin-top: calc(-1* var(--bs-gutter-y));
      // margin-right: calc(-.5* var(--bs-gutter-x));
      // margin-left: calc(-.5* var(--bs-gutter-x));
      // max-width: 850px;
      margin: 0 180px;
      gap: 1rem;
      justify-content: center;
      
      
      .col1{
        flex: 0 0 auto;
        width: 23%;
        
        
        .service-item {
          position: relative;
          z-index: 1;
          padding: 30px;
          box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
          background-color: #fff;
          border-radius: 10px;
          border-top-right-radius: 50px;
          transition: all .3s;
          width: 16rem;
          height: 16.5rem;
          cursor: pointer;

          &:hover{
            background-image: url(../img/service-bg.jpg);
            background-position: right top;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .icon {
            margin-left: 0px;
            margin-bottom: 30px;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            transition: all .3s;
          }

          h4{
            transition: all .3s;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
          }

          p{
            transition: all .3s;
            font-size: 15px;
            margin-bottom: 20px;
            line-height: 30px;
            font-weight: 400;
            color: #afafaf;
            max-height: 90px;
          }

          a{
            font-size: 15px;
            color: #0d6efd;
          }

          &:hover h4,
          &:hover p,
          &:hover a {
            color: #fff;
          }
        }

        .first-item{
          .icon{
            background-image: url(../img/service-icon-01.png);
          }
          &:hover{
            .icon{
              background-image: url(../img/service-icon-hover-01.png);

            }
          }
        }

        .seconed-item{
          .icon{
            background-image: url(../img/service-icon-02.png);
          }
          &:hover{
            .icon{
              background-image: url(../img/service-icon-hover-02.png);

            }
          }
        }

        .third-item{
          .icon{
            background-image: url(../img/service-icon-03.png);
          }
          &:hover{
            .icon{
              background-image: url(../img/service-icon-hover-03.png);

            }
          }
        }

        .forth-item{
          .icon{
            background-image: url(../img/service-icon-04.png);
          }
          &:hover{
            .icon{
              background-image: url(../img/service-icon-hover-04.png);

            }
          }
        }

      }
    }

    &::before{
        content: '';
        background-image: url(../img/services-right-dec.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 105%;
        width: 1136px;
        height: 250px;
        z-index: -1;
    }

    &::after{
      content: '';
      background-image: url(../img/services-left-dec.png);
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      bottom: -112.5%;
      width: 261px;
      height: 368px;
      z-index: 0;
    }
  }
}